body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Raleway", sans-serif; 
	text-align: center;
	line-height: .6;
}
img	{
	height: 200px;
	width: 250px;
	margin-top: 150px;
	border-radius: 20%;
}
@media screen and (max-width: 500px) {img { height: 150px; width: 200px; margin-top: 100px;} }
h1 {
	color: #0099ff;
	font-size: 3em;
	letter-spacing: 4px;
}
h2 {
	color: #5c5c66;
	font-size: 1.2em;
	font-weight: 400;
	margin-right: 40px;
	margin-left: 40px;
	line-height: 1;
}
a {
	color: #0099ff;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #002080;
}
a i {
	width: 40px;
}
.icons {
	font-size: 40px;
}
.top-bar {
	top: 0;
	padding: 0;
	margin: 0;
	background-color: #0099ff;
	text-align: right;
	position: absolute;
	width: 100%;
	height: 23px;
}
.top-bar i {
	padding-top: 4px;
	margin-right: 8px;
	display: inline-block;
	color: #ffffff;
}





